<.cover style="min-block-size: 100vh;">
  <header>
    <.center>
      HERE IS SOME HEADER
    </.center>
  </header>
  <main>
    <.center>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </.center>
  </main>
</.cover>
